In [1]:
#import libraries
import pandas as pd
import numpy as np
import re

In [2]:
#open manufacturing workers data
df = pd.read_csv("data/employment-by-state-US-raw.csv", skiprows=3)

In [3]:
#show data
df

,GeoFips,GeoName,LineCode,Description,1998,1999,2000,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,01000,Alabama,90.0,Private nonfarm employment,1916323.0,1933639.0,1949171.0,1933628,1923729,1928729.0,...,2054963.0,2076360.0,2108848.0,2143819.0,2173317.0,2200024,2242795.0,2261506.0,2223316,2290443
1,01000,Alabama,400.0,Construction,150643.0,154368.0,156466.0,158892,152592,155592.0,...,136841.0,135665.0,135625.0,136107.0,141701.0,142525,148036.0,152455.0,157497,162012
2,01000,Alabama,500.0,Manufacturing,371319.0,361668.0,353784.0,335261,315019,299642.0,...,252491.0,258984.0,262500.0,267881.0,271192.0,274115,277592.0,279250.0,269248,275433
3,01000,Alabama,800.0,Transportation and warehousing,70796.0,70533.0,72579.0,71672,69002,67526.0,...,73608.0,75210.0,76475.0,78800.0,78962.0,81256,85394.0,91219.0,98407,114131
4,02000,Alaska,90.0,Private nonfarm employment,285610.0,285404.0,292267.0,296462,300949,304210.0,...,349217.0,352983.0,355175.0,355608.0,352346.0,350892,350498.0,350834.0,328522,337908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,91000,New England,800.0,Transportation and warehousing,199401.0,202137.0,209340.0,(D),(D),201209.0,...,207943.0,214228.0,228025.0,260466.0,283194.0,307480,325799.0,349403.0,348400,371907
208,Legend/Footnotes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,1/ The estimates of employment for 1998-2006 a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,(D) Not shown to avoid disclosure of confident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,"Last updated: September 30, 2022-- new stati...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop final rows
df = df.drop([208,209,210,211])

In [5]:
df

,GeoFips,GeoName,LineCode,Description,1998,1999,2000,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,01000,Alabama,90.0,Private nonfarm employment,1916323.0,1933639.0,1949171.0,1933628,1923729,1928729.0,...,2054963.0,2076360.0,2108848.0,2143819.0,2173317.0,2200024,2242795.0,2261506.0,2223316,2290443
1,01000,Alabama,400.0,Construction,150643.0,154368.0,156466.0,158892,152592,155592.0,...,136841.0,135665.0,135625.0,136107.0,141701.0,142525,148036.0,152455.0,157497,162012
2,01000,Alabama,500.0,Manufacturing,371319.0,361668.0,353784.0,335261,315019,299642.0,...,252491.0,258984.0,262500.0,267881.0,271192.0,274115,277592.0,279250.0,269248,275433
3,01000,Alabama,800.0,Transportation and warehousing,70796.0,70533.0,72579.0,71672,69002,67526.0,...,73608.0,75210.0,76475.0,78800.0,78962.0,81256,85394.0,91219.0,98407,114131
4,02000,Alaska,90.0,Private nonfarm employment,285610.0,285404.0,292267.0,296462,300949,304210.0,...,349217.0,352983.0,355175.0,355608.0,352346.0,350892,350498.0,350834.0,328522,337908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,56000,Wyoming,800.0,Transportation and warehousing,11168.0,11320.0,11686.0,(D),(D),11683.0,...,14883.0,14993.0,15707.0,15838.0,14108.0,14392,15031.0,15661.0,15553,16124
204,91000,New England,90.0,Private nonfarm employment,7319576.0,7454003.0,7656316.0,7668211,7605056,7600429.0,...,8017056.0,8166225.0,8306064.0,8553964.0,8673535.0,8772243,8896757.0,8890348.0,8454612,8773589
205,91000,New England,400.0,Construction,435573.0,452558.0,471527.0,493596,(D),504780.0,...,462285.0,477941.0,489257.0,508333.0,531088.0,(D),543475.0,538936.0,538443,568641
206,91000,New England,500.0,Manufacturing,999862.0,974331.0,967303.0,930144,847252,793345.0,...,640921.0,642000.0,636879.0,638378.0,633612.0,635258,638957.0,637316.0,603931,612378
207,91000,New England,800.0,Transportation and warehousing,199401.0,202137.0,209340.0,(D),(D),201209.0,...,207943.0,214228.0,228025.0,260466.0,283194.0,307480,325799.0,349403.0,348400,371907

In [6]:
#untidy data
df_melted = pd.melt(df, id_vars=["GeoFips","GeoName","LineCode","Description"]).copy()
df_melted

,GeoFips,GeoName,LineCode,Description,variable,value
0,01000,Alabama,90.0,Private nonfarm employment,1998,1916323.0
1,01000,Alabama,400.0,Construction,1998,150643.0
2,01000,Alabama,500.0,Manufacturing,1998,371319.0
3,01000,Alabama,800.0,Transportation and warehousing,1998,70796.0
4,02000,Alaska,90.0,Private nonfarm employment,1998,285610.0
...,...,...,...,...,...,...
4987,56000,Wyoming,800.0,Transportation and warehousing,2021,16124
4988,91000,New England,90.0,Private nonfarm employment,2021,8773589
4989,91000,New England,400.0,Construction,2021,568641
4990,91000,New England,500.0,Manufacturing,2021,612378
4991,91000,New England,800.0,Transportation and warehousing,2021,371907

In [7]:
rows = df_melted.shape[0]
rows

4992

In [8]:
#arrange columns
df_melted = df_melted.drop(["GeoFips", "LineCode"], axis =1)
df_melted.rename(columns = {"GeoName":"State","variable": "Year","value": "Jobs" }, inplace = True)
df_melted

            State                           Description  Year       Jobs
0         Alabama            Private nonfarm employment  1998  1916323.0
1         Alabama                          Construction  1998   150643.0
2         Alabama                         Manufacturing  1998   371319.0
3         Alabama        Transportation and warehousing  1998    70796.0
4          Alaska            Private nonfarm employment  1998   285610.0
...           ...                                   ...   ...        ...
4987      Wyoming        Transportation and warehousing  2021      16124
4988  New England            Private nonfarm employment  2021    8773589
4989  New England                          Construction  2021     568641
4990  New England                         Manufacturing  2021     612378
4991  New England        Transportation and warehousing  2021     371907

[4992 rows x 4 columns]

In [9]:
#flag border states
border = ["California", "Arizona", "New Mexico", "Texas", "Tamaulipas", "Sonora"]
f = len(border)
df_melted["Border"]="NA"
for k in range(rows):
    p = 0
    for l in range(f):
        if df_melted["State"][k] == border[l]:
            p = p +1
    if p > 0:
        df_melted["Border"][k] = "Yes"
    else:
        df_melted["Border"][k] = "No"

In [10]:
df_melted.sample(20)

,State,Description,Year,Jobs,Border
1966,Minnesota,Manufacturing,2007,354731.0,No
275,Kansas,Transportation and warehousing,1999,55039.0,No
1221,Vermont,Construction,2003,29356.0,No
1495,Florida,Transportation and warehousing,2005,306880,No
3454,New Mexico,Manufacturing,2014,34027.0,Yes
2552,Indiana,Private nonfarm employment,2010,2999962.0,No
1127,Massachusetts,Transportation and warehousing,2003,94185.0,No
4587,Arizona,Transportation and warehousing,2020,203827,Yes
3367,Florida,Transportation and warehousing,2014,349677.0,No
1249,Alabama,Construction,2004,162580.0,No
2961,Idaho,Construction,2012,50719.0,No
2200,New Jersey,Private nonfarm employment,2008,4448888.0,No
360,Pennsylvania,Private nonfarm employment,1999,5915283.0,No
2869,South Dakota,Construction,2011,31633.0,No
2440,Pennsylvania,Private nonfarm employment,2009,6207573.0,No
2863,Rhode Island,Transportation and warehousing,2011,12332.0,No
3038,New Mexico,Manufacturing,2012,35749.0,Yes
2401,Nevada,Construction,2009,98674.0,No
490,Louisiana,Manufacturing,2000,178325.0,No
2415,New Mexico,Transportation and warehousing,2009,24221.0,Yes

In [11]:
df_melted.groupby("Border")["Border"].agg("count")

Border
No     4608
Yes     384
Name: Border, dtype: int64

In [12]:
df_melted.query("State == 'California'")

,State,Description,Year,Jobs,Border
16,California,Private nonfarm employment,1998,15688284.0,Yes
17,California,Construction,1998,900026.0,Yes
18,California,Manufacturing,1998,1941979.0,Yes
19,California,Transportation and warehousing,1998,565057.0,Yes
224,California,Private nonfarm employment,1999,16012613.0,Yes
...,...,...,...,...,...
4595,California,Transportation and warehousing,2020,1270086,Yes
4800,California,Private nonfarm employment,2021,20952239,Yes
4801,California,Construction,2021,1253884,Yes
4802,California,Manufacturing,2021,1375410,Yes
4803,California,Transportation and warehousing,2021,1371207,Yes

In [13]:
#Export to CSV
df_melted.to_csv("data/employment-by-state-US-refined.csv", index = False, encoding = "UTF8")