In [1]:
#import libraries
import pandas as pd
import numpy as np
import re

In [2]:
#open manufacturing workers data
df = pd.read_csv("data/wages-by-state-US-raw.csv", skiprows=3)

In [3]:
#show data
df

,GeoFips,GeoName,LineCode,Description,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,01000,Alabama,90.0,Private nonfarm wages and salaries,41979512.0,43997806.0,45628317.0,46572804,47446831,48824710.0,...,64514133.0,66942447.0,69874394.0,71739158.0,74593605,78128564.0,81872337.0,83593489,90100897,99810700
1,01000,Alabama,400.0,Construction,2809203.0,3055191.0,3211649.0,3358071,3287818,3338889.0,...,3718367.0,3913629.0,4083444.0,4357549.0,4570724,4928192.0,5390960.0,5620347,5930775,6770684
2,01000,Alabama,500.0,Manufacturing,11340266.0,11615563.0,11637717.0,11432168,11163655,11037676.0,...,12696705.0,13383799.0,13812352.0,14133929.0,14551486,15234190.0,15767717.0,15619267,16571009,18580925
3,01000,Alabama,800.0,Transportation and warehousing,1685680.0,1765317.0,1818404.0,1782505,1773841,1814642.0,...,2535519.0,2729918.0,2831102.0,2847768.0,2956120,3186297.0,3379872.0,3460201,3994226,4354490
4,02000,Alaska,90.0,Private nonfarm wages and salaries,6799563.0,6928846.0,7382203.0,7907491,8217294,8510376.0,...,13809441.0,14470483.0,14985707.0,14246535.0,14080695,14621748.0,15332403.0,14866750,15624162,17399885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Legend/Footnotes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,1/ The estimates of wages and salaries for 199...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,Note. All dollar estimates are in thousands of...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,(D) Not shown to avoid disclosure of confident...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,"Last updated: March 31, 2023--new statistics...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop final rows
df = df.drop([208,209,210,211,212])

In [5]:
df

,GeoFips,GeoName,LineCode,Description,1998,1999,2000,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,01000,Alabama,90.0,Private nonfarm wages and salaries,41979512.0,43997806.0,45628317.0,46572804,47446831,48824710.0,...,64514133.0,66942447.0,69874394.0,71739158.0,74593605,78128564.0,81872337.0,83593489,90100897,99810700
1,01000,Alabama,400.0,Construction,2809203.0,3055191.0,3211649.0,3358071,3287818,3338889.0,...,3718367.0,3913629.0,4083444.0,4357549.0,4570724,4928192.0,5390960.0,5620347,5930775,6770684
2,01000,Alabama,500.0,Manufacturing,11340266.0,11615563.0,11637717.0,11432168,11163655,11037676.0,...,12696705.0,13383799.0,13812352.0,14133929.0,14551486,15234190.0,15767717.0,15619267,16571009,18580925
3,01000,Alabama,800.0,Transportation and warehousing,1685680.0,1765317.0,1818404.0,1782505,1773841,1814642.0,...,2535519.0,2729918.0,2831102.0,2847768.0,2956120,3186297.0,3379872.0,3460201,3994226,4354490
4,02000,Alaska,90.0,Private nonfarm wages and salaries,6799563.0,6928846.0,7382203.0,7907491,8217294,8510376.0,...,13809441.0,14470483.0,14985707.0,14246535.0,14080695,14621748.0,15332403.0,14866750,15624162,17399885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,56000,Wyoming,800.0,Transportation and warehousing,365228.0,369812.0,383155.0,(D),(D),403074.0,...,707465.0,781543.0,773394.0,666450.0,683877,742096.0,772913.0,712768,754211,797968
204,91000,New England,90.0,Private nonfarm wages and salaries,212806832.0,229443474.0,254688165.0,259972508,255887922,260742114.0,...,352913092.0,370910450.0,389942094.0,400493300.0,417045942,434555056.0,454998089.0,459280456,502806180,541480166
205,91000,New England,400.0,Construction,9905988.0,11170983.0,12749252.0,14076346,(D),14261951.0,...,15589815.0,16722297.0,18379877.0,19684459.0,(D),22279055.0,23685100.0,23480503,25752765,28094550
206,91000,New England,500.0,Manufacturing,42430825.0,44360505.0,47358721.0,45438828,42034872,41236716.0,...,44321697.0,45117987.0,45769526.0,45199449.0,46526520,47280688.0,48432094.0,48327507,50293077,52687570
207,91000,New England,800.0,Transportation and warehousing,5059952.0,5448435.0,5834983.0,(D),(D),5877369.0,...,7435528.0,7934217.0,8440113.0,8737600.0,9099409,9670191.0,10243580.0,10203876,11406413,12092992

In [6]:
#untidy data
df_melted = pd.melt(df, id_vars=["GeoFips","GeoName","LineCode","Description"]).copy()
df_melted

,GeoFips,GeoName,LineCode,Description,variable,value
0,01000,Alabama,90.0,Private nonfarm wages and salaries,1998,41979512.0
1,01000,Alabama,400.0,Construction,1998,2809203.0
2,01000,Alabama,500.0,Manufacturing,1998,11340266.0
3,01000,Alabama,800.0,Transportation and warehousing,1998,1685680.0
4,02000,Alaska,90.0,Private nonfarm wages and salaries,1998,6799563.0
...,...,...,...,...,...,...
5195,56000,Wyoming,800.0,Transportation and warehousing,2022,797968
5196,91000,New England,90.0,Private nonfarm wages and salaries,2022,541480166
5197,91000,New England,400.0,Construction,2022,28094550
5198,91000,New England,500.0,Manufacturing,2022,52687570
5199,91000,New England,800.0,Transportation and warehousing,2022,12092992

In [7]:
rows = df_melted.shape[0]
rows

5200

In [8]:
#arrange columns
df_melted = df_melted.drop(["GeoFips", "LineCode"], axis =1)
df_melted.rename(columns = {"GeoName":"State","variable": "Year","value": "Wages" }, inplace = True)
df_melted

            State                             Description  Year       Wages
0         Alabama      Private nonfarm wages and salaries  1998  41979512.0
1         Alabama                            Construction  1998   2809203.0
2         Alabama                           Manufacturing  1998  11340266.0
3         Alabama          Transportation and warehousing  1998   1685680.0
4          Alaska      Private nonfarm wages and salaries  1998   6799563.0
...           ...                                     ...   ...         ...
5195      Wyoming          Transportation and warehousing  2022      797968
5196  New England      Private nonfarm wages and salaries  2022   541480166
5197  New England                            Construction  2022    28094550
5198  New England                           Manufacturing  2022    52687570
5199  New England          Transportation and warehousing  2022    12092992

[5200 rows x 4 columns]

In [9]:
#flag border states
border = ["California", "Arizona", "New Mexico", "Texas", "Tamaulipas", "Sonora"]
f = len(border)
df_melted["Border"]="NA"
for k in range(rows):
    p = 0
    for l in range(f):
        if df_melted["State"][k] == border[l]:
            p = p +1
    if p > 0:
        df_melted["Border"][k] = "Yes"
    else:
        df_melted["Border"][k] = "No"

In [10]:
df_melted.sample(20)

,State,Description,Year,Wages,Border
5025,District of Columbia,Construction,2022,1325904,No
3656,New Jersey,Private nonfarm wages and salaries,2015,212457654.0,No
1565,Nebraska,Construction,2005,1722057,No
4743,South Dakota,Transportation and warehousing,2020,572293,No
2419,New York,Transportation and warehousing,2009,10051910.0,No
817,West Virginia,Construction,2001,1168780,No
3585,Idaho,Construction,2015,1514472.0,No
3889,Oklahoma,Construction,2016,4016683.0,No
5133,Ohio,Construction,2022,17414335,No
4102,Oregon,Manufacturing,2017,13224260,No
3962,Arizona,Manufacturing,2017,12245829,Yes
2944,District of Columbia,Private nonfarm wages and salaries,2012,37259782.0,No
3821,Maine,Construction,2016,1332933.0,No
830,New England,Manufacturing,2001,45438828,No
3307,Virginia,Transportation and warehousing,2013,5403845.0,No
3652,New Hampshire,Private nonfarm wages and salaries,2015,30157310.0,No
691,Kansas,Transportation and warehousing,2001,1662374,No
5021,Delaware,Construction,2022,1729767,No
3224,Montana,Private nonfarm wages and salaries,2013,13546778.0,No
4373,Alaska,Construction,2019,1415215.0,No

In [11]:
df_melted.groupby("Border")["Border"].agg("count")

Border
No     4800
Yes     400
Name: Border, dtype: int64

In [12]:
df_melted.query("State == 'California'")

,State,Description,Year,Wages,Border
16,California,Private nonfarm wages and salaries,1998,426872185.0,Yes
17,California,Construction,1998,23278334.0,Yes
18,California,Manufacturing,1998,81191915.0,Yes
19,California,Transportation and warehousing,1998,15444450.0,Yes
224,California,Private nonfarm wages and salaries,1999,469832827.0,Yes
...,...,...,...,...,...
4803,California,Transportation and warehousing,2021,53951438,Yes
5008,California,Private nonfarm wages and salaries,2022,1388570300,Yes
5009,California,Construction,2022,80007677,Yes
5010,California,Manufacturing,2022,162685655,Yes
5011,California,Transportation and warehousing,2022,58292930,Yes

In [13]:
#Export to CSV
df_melted.to_csv("data/wages-by-state-US-refined.csv", index = False, encoding = "UTF8")