In [1]:
#import libraries
import pandas as pd
import numpy as np
import re

In [2]:
## small trick to improve our display
## Unfortunately appears not to work in Colab.
## will allow us to see dataframes side-by-side
from IPython.display import display, HTML

css = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(css))

In [3]:
#open data
dff = pd.read_csv("data/factories-mexico-refined.csv")
df = pd.read_csv("data/manufacturing-workers-mexico-refined.csv")

In [4]:
## display both df side by side
display(dff)
display(df)

       Year  Month                        State   City  Factories Border
0      2007      7               Total nacional  Total     5062.0     No
1      2007      8               Total nacional  Total     5082.0     No
2      2007      9               Total nacional  Total     5108.0     No
3      2007     10               Total nacional  Total     5128.0     No
4      2007     11               Total nacional  Total     5143.0     No
...     ...    ...                          ...    ...        ...    ...
10435  2021      8  Otras entidades federativas  Total      265.0     No
10436  2021      9  Otras entidades federativas  Total      262.0     No
10437  2021     10  Otras entidades federativas  Total      262.0     No
10438  2021     11  Otras entidades federativas  Total      263.0     No
10439  2021     12  Otras entidades federativas  Total      263.0     No

[10440 rows x 6 columns]

,Year,Month,State,City,Manufacturing workers,Border
0,2007,7,Total nacional,Total,1912745.0,No
1,2007,8,Total nacional,Total,1929146.0,No
2,2007,9,Total nacional,Total,1940574.0,No
3,2007,10,Total nacional,Total,1953906.0,No
4,2007,11,Total nacional,Total,1936734.0,No
...,...,...,...,...,...,...
10435,2021,8,Otras entidades federativas,Total,139953.0,No
10436,2021,9,Otras entidades federativas,Total,138520.0,No
10437,2021,10,Otras entidades federativas,Total,140077.0,No
10438,2021,11,Otras entidades federativas,Total,143237.0,No
10439,2021,12,Otras entidades federativas,Total,141853.0,No

In [5]:
## merge
dfm = pd.merge(df, dff, left_on = ["Year", "Month","State","City","Border"], right_on = ["Year", "Month","State","City","Border"])
dfm

,Year,Month,State,City,Manufacturing workers,Border,Factories
0,2007,7,Total nacional,Total,1912745.0,No,5062.0
1,2007,8,Total nacional,Total,1929146.0,No,5082.0
2,2007,9,Total nacional,Total,1940574.0,No,5108.0
3,2007,10,Total nacional,Total,1953906.0,No,5128.0
4,2007,11,Total nacional,Total,1936734.0,No,5143.0
...,...,...,...,...,...,...,...
10435,2021,8,Otras entidades federativas,Total,139953.0,No,265.0
10436,2021,9,Otras entidades federativas,Total,138520.0,No,262.0
10437,2021,10,Otras entidades federativas,Total,140077.0,No,262.0
10438,2021,11,Otras entidades federativas,Total,143237.0,No,263.0
10439,2021,12,Otras entidades federativas,Total,141853.0,No,263.0

In [6]:
#arrange columns
dfm = dfm[["Year","Month", "State","City", "Border", "Manufacturing workers","Factories"]]
dfm

,Year,Month,State,City,Border,Manufacturing workers,Factories
0,2007,7,Total nacional,Total,No,1912745.0,5062.0
1,2007,8,Total nacional,Total,No,1929146.0,5082.0
2,2007,9,Total nacional,Total,No,1940574.0,5108.0
3,2007,10,Total nacional,Total,No,1953906.0,5128.0
4,2007,11,Total nacional,Total,No,1936734.0,5143.0
...,...,...,...,...,...,...,...
10435,2021,8,Otras entidades federativas,Total,No,139953.0,265.0
10436,2021,9,Otras entidades federativas,Total,No,138520.0,262.0
10437,2021,10,Otras entidades federativas,Total,No,140077.0,262.0
10438,2021,11,Otras entidades federativas,Total,No,143237.0,263.0
10439,2021,12,Otras entidades federativas,Total,No,141853.0,263.0

In [7]:
#Annual data (last point of the year)

In [8]:
dfa = dfm.query("Month == 12").drop("Month", axis=1)

In [9]:
#Export to CSV
dfm.to_csv("data/workers-factories-mexico-monthly.csv", index = False, encoding = "UTF8")
dfa.to_csv("data/workers-factories-mexico-annual.csv", index = False, encoding = "UTF8")