In [1]:
#import libraries
import pandas as pd
import numpy as np
import re

In [2]:
## small trick to improve our display
## Unfortunately appears not to work in Colab.
## will allow us to see dataframes side-by-side
from IPython.display import display, HTML

css = """
.output {
    flex-direction: row;
}
"""

HTML('<style>{}</style>'.format(css))

In [3]:
#open data
dff = pd.read_csv("data/factories-mexico-refined.csv")
df = pd.read_csv("data/manufacturing-workers-mexico-refined.csv")
dfw = pd.read_csv("data/manufacturing-wages-mexico-refined.csv")

In [4]:
dffs = dff.query("City == 'Total'")
dfs = df.query("City == 'Total'")

In [5]:
## display both df side by side
display(dffs)
display(dfs)
display(dfw)

       Year  Month                        State   City  Factories Border
0      2007      7               Total nacional  Total     5062.0     No
1      2007      8               Total nacional  Total     5082.0     No
2      2007      9               Total nacional  Total     5108.0     No
3      2007     10               Total nacional  Total     5128.0     No
4      2007     11               Total nacional  Total     5143.0     No
...     ...    ...                          ...    ...        ...    ...
10435  2021      8  Otras entidades federativas  Total      265.0     No
10436  2021      9  Otras entidades federativas  Total      262.0     No
10437  2021     10  Otras entidades federativas  Total      262.0     No
10438  2021     11  Otras entidades federativas  Total      263.0     No
10439  2021     12  Otras entidades federativas  Total      263.0     No

[3306 rows x 6 columns]

,Year,Month,State,City,Manufacturing workers,Border
0,2007,7,Total nacional,Total,1912745.0,No
1,2007,8,Total nacional,Total,1929146.0,No
2,2007,9,Total nacional,Total,1940574.0,No
3,2007,10,Total nacional,Total,1953906.0,No
4,2007,11,Total nacional,Total,1936734.0,No
...,...,...,...,...,...,...
10435,2021,8,Otras entidades federativas,Total,139953.0,No
10436,2021,9,Otras entidades federativas,Total,138520.0,No
10437,2021,10,Otras entidades federativas,Total,140077.0,No
10438,2021,11,Otras entidades federativas,Total,143237.0,No
10439,2021,12,Otras entidades federativas,Total,141853.0,No

      Year  Month                        State  Manufacturing wages Border
0     2007      7               Total nacional          10682.95476     No
1     2007      8               Total nacional          11325.95198     No
2     2007      9               Total nacional          10895.28147     No
3     2007     10               Total nacional          11034.88160     No
4     2007     11               Total nacional          11078.97119     No
...    ...    ...                          ...                  ...    ...
3301  2021      8  Otras entidades federativas          11643.12756     No
3302  2021      9  Otras entidades federativas          12059.15700     No
3303  2021     10  Otras entidades federativas          12217.29161     No
3304  2021     11  Otras entidades federativas          12114.01056     No
3305  2021     12  Otras entidades federativas          16852.89973     No

[3306 rows x 5 columns]

In [6]:
#merge workers and factories
dffw = pd.merge(dfs, dffs, left_on = ["Year", "Month","State","Border","City"], right_on = ["Year", "Month","State","Border","City"]).drop("City", axis=1)
dffw

,Year,Month,State,Manufacturing workers,Border,Factories
0,2007,7,Total nacional,1912745.0,No,5062.0
1,2007,8,Total nacional,1929146.0,No,5082.0
2,2007,9,Total nacional,1940574.0,No,5108.0
3,2007,10,Total nacional,1953906.0,No,5128.0
4,2007,11,Total nacional,1936734.0,No,5143.0
...,...,...,...,...,...,...
3301,2021,8,Otras entidades federativas,139953.0,No,265.0
3302,2021,9,Otras entidades federativas,138520.0,No,262.0
3303,2021,10,Otras entidades federativas,140077.0,No,262.0
3304,2021,11,Otras entidades federativas,143237.0,No,263.0
3305,2021,12,Otras entidades federativas,141853.0,No,263.0

In [7]:
#merge workers and factories and wages
dffww = pd.merge(dffw, dfw, left_on = ["Year", "Month","State","Border"], right_on = ["Year", "Month","State","Border"])
dffww

,Year,Month,State,Manufacturing workers,Border,Factories,Manufacturing wages
0,2007,7,Total nacional,1912745.0,No,5062.0,10682.95476
1,2007,8,Total nacional,1929146.0,No,5082.0,11325.95198
2,2007,9,Total nacional,1940574.0,No,5108.0,10895.28147
3,2007,10,Total nacional,1953906.0,No,5128.0,11034.88160
4,2007,11,Total nacional,1936734.0,No,5143.0,11078.97119
...,...,...,...,...,...,...,...
3301,2021,8,Otras entidades federativas,139953.0,No,265.0,11643.12756
3302,2021,9,Otras entidades federativas,138520.0,No,262.0,12059.15700
3303,2021,10,Otras entidades federativas,140077.0,No,262.0,12217.29161
3304,2021,11,Otras entidades federativas,143237.0,No,263.0,12114.01056
3305,2021,12,Otras entidades federativas,141853.0,No,263.0,16852.89973

In [8]:
#arrange columns
dffww = dffww[["Year","Month", "State","Border", "Manufacturing workers","Factories","Manufacturing wages"]]
dffww

,Year,Month,State,Border,Manufacturing workers,Factories,Manufacturing wages
0,2007,7,Total nacional,No,1912745.0,5062.0,10682.95476
1,2007,8,Total nacional,No,1929146.0,5082.0,11325.95198
2,2007,9,Total nacional,No,1940574.0,5108.0,10895.28147
3,2007,10,Total nacional,No,1953906.0,5128.0,11034.88160
4,2007,11,Total nacional,No,1936734.0,5143.0,11078.97119
...,...,...,...,...,...,...,...
3301,2021,8,Otras entidades federativas,No,139953.0,265.0,11643.12756
3302,2021,9,Otras entidades federativas,No,138520.0,262.0,12059.15700
3303,2021,10,Otras entidades federativas,No,140077.0,262.0,12217.29161
3304,2021,11,Otras entidades federativas,No,143237.0,263.0,12114.01056
3305,2021,12,Otras entidades federativas,No,141853.0,263.0,16852.89973

In [9]:
#Rename columns
dffww.rename(columns = {"Manufacturing workers": "Jobs", "Manufacturing wages": "Average wage", }, inplace = True)
dffww

,Year,Month,State,Border,Jobs,Factories,Average wage
0,2007,7,Total nacional,No,1912745.0,5062.0,10682.95476
1,2007,8,Total nacional,No,1929146.0,5082.0,11325.95198
2,2007,9,Total nacional,No,1940574.0,5108.0,10895.28147
3,2007,10,Total nacional,No,1953906.0,5128.0,11034.88160
4,2007,11,Total nacional,No,1936734.0,5143.0,11078.97119
...,...,...,...,...,...,...,...
3301,2021,8,Otras entidades federativas,No,139953.0,265.0,11643.12756
3302,2021,9,Otras entidades federativas,No,138520.0,262.0,12059.15700
3303,2021,10,Otras entidades federativas,No,140077.0,262.0,12217.29161
3304,2021,11,Otras entidades federativas,No,143237.0,263.0,12114.01056
3305,2021,12,Otras entidades federativas,No,141853.0,263.0,16852.89973

In [10]:
#Annual data (last point of the year)

In [11]:
dffwwa = dffww.query("Month == 12").drop("Month", axis=1)
dffwwa

,Year,State,Border,Jobs,Factories,Average wage
5,2007,Total nacional,No,1902121.0,5140.0,13120.12137
17,2008,Total nacional,No,1738182.0,5254.0,13360.18494
29,2009,Total nacional,No,1645291.0,5214.0,14170.40792
41,2010,Total nacional,No,1810482.0,5108.0,13945.50058
53,2011,Total nacional,No,1879114.0,5079.0,14183.43239
...,...,...,...,...,...,...
3257,2017,Otras entidades federativas,No,134260.0,266.0,13080.53332
3269,2018,Otras entidades federativas,No,143292.0,264.0,12842.36016
3281,2019,Otras entidades federativas,No,142102.0,267.0,12634.71062
3293,2020,Otras entidades federativas,No,135569.0,264.0,14349.70094
3305,2021,Otras entidades federativas,No,141853.0,263.0,16852.89973

In [12]:
#Export to CSV
dffww.to_csv("data/workers-factories-wages-mexico-monthly.csv", index = False, encoding = "UTF8")
dffwwa.to_csv("data/workers-factories-wages-mexico-annual.csv", index = False, encoding = "UTF8")